#mainDiv {
	font-family: sans-serif;
	font-size: 12px;
	width: 1004px;
}

#headerDiv {
	border: 1px solid #9c0008;
	height: 70px;
	background-image: url("/img/tunnelking.png");
}

#menuDiv {
	float: left;
	width: 180px;
	height: 420px;
	padding: 10px 10px 10px 10px;
}

#confMenuDiv {
	padding: 0px;
	margin: 0px;
	float: right;
}

#configSelectDiv {
	padding: 0px;
	margin: 0px;
	float: left;
}

#menuLinkDiv {
	padding: 0px;
	margin: 0px;
	clear: both;
}

#contentDiv {
	float: right;
	border: 1px solid #CCCCCC;
	width: 780px;
	height: 420px;
	padding: 10px 10px 10px 10px;
}

#footerDiv {
	border: 1px solid #CCCCCC;
	clear: both;
	padding: 2px 2px 2px 2px;
}

#logoDiv {
	position: relative;
	margin: 10px 0px 0px 10px;
	width: 40px;
	top: 0px;
	left: 0px;
}

#selectDiv {
	position: absolute;
	top: 45px;
	left: 886px;
}

img {
	margin: 0px;
	padding: 0px;
}

button { /* border: 1px solid blue; */
	font-size: 9px;
	padding: 1px;
}

#searchBar {
	border: 1px solid #999999;
	margin: 0px 0px 1px 0px;
	padding: 0px;
}

#addDiv {
	width: 270px;
	height: 386px;
	border: 1px solid #999999;
	float: left;
	display: none;
	margin: 0px;
	padding: 2px;
}

#addLdapDiv {
	width: 270px;
	height: 386px;
	border: 1px solid #999999;
	float: left;
	display: none;
	margin: 0px;
	padding: 2px;
}

#editDiv {
	width: 270px;
	height: 386px;
	border: 1px solid #999999;
	float: left;
	display: none;
	margin: 0px;
	padding: 2px;
}

#appsDiv {
	width: 270px;
	height: 386px;
	border: 1px solid #999999;
	float: left;
	display: none;
	margin: 0px;
	padding: 2px;
}

#userDiv {
	overflow: auto;
	height: 390px;
	border: 1px solid #999999;
	margin: 0px;
}

#userSearchField {
	background: url('../img/search.png') no-repeat 2px 0px;
	border: 1px solid #BFBFBF;
	padding-left: 20px;
	height: 16px;
	width: 150px;
}

.userDiv {
	padding: 5px 10px 5px 10px;
	margin: 1px;
	border: 1px solid #999999;
	width: 736px;
	height: 15px;
}

.userNameDiv {
	float: left;
}

.userLastLoginDiv {
	float: right;
	margin: 0px 20px 0px 0px;
	font-style: italic;
	color: graytext;
}

.userControlDiv {
	float: right;
	margin: -4px 0px 0px 0px;
	padding: 0px;
}

#otpTR {
	display: none;
}

#pincodeTR {
	display: none;
}

#pincodeTR2 {
	display: none;
}

#runningDiv {
	float: left;
	padding: 10px 10px 10px 10px;
	border: 1px dashed blue;
	margin: 4px;
}

#statusDiv {
	padding: 5px 5px 5px 5px;
	margin: 6px;
	text-align: center;
	border: 2px solid red;
}

#basicConfDiv {
	float: left;
	padding: 10px 10px 10px 10px;
	border: 1px dashed blue;
	margin: 4px;
}

#newConf {
	float: left;
	border: 1px dashed blue;
	padding: 0px 10px 10px 10px;
}

#ldapConf {
	float: right;
	display: none;
	margin-right: 40px;
	border: 1px dashed blue;
	padding: 0px 10px 10px 10px;
}

.connectionDiv {
	padding: 2px;
	height: 16px;
}